body{
background-color: transparent;
    margin: 0;
    padding: 0;
}
body form{

   margin-left:38%;
   margin-top: -5%;
   height: 400px;
}
.containe{
    padding: 18px;
    width: 550px;
    background-color:white;
    border: 3px solid blue;
    border-radius: 8px;
    background-color: rgba(235, 235, 235, 0.856);
}
.containe h1{
   text-align: center;
   margin-bottom: 10px;
}
.containe div{
    margin-top: 5px;
    margin-bottom: 3px;

}
.containe div label{
    color: rgb(32, 32, 241);
}

#female{
    margin-left: 10px;
}
#ct{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
   
}
.gender input{
    width: 30px;
    
}
.btn{
     margin-top: 10px;
}
.invalid-feedback1{
    color: red;
}
.valid-feedback1{
    color:  rgb(3, 73, 18);
}
