body{
background-color: transparent;
    margin: 0;
    padding: 0;
}
.cont{
    
   
   height: 20px;
   margin-left: 35%;
   margin-top: -5%;
   
}
.containe{
    padding: 15px;
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
}
.containe h1{
   text-align: center;
   margin-bottom: 10px;
}
.containe div{
    margin-top: 5px;

}
.containe div label{
    color: blue;
}
#female{
    margin-left: 10px;
}
#ct{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
   
}
.btn{
     margin-top: 10px;
}

